<link rel="stylesheet" type="text/css" href="../css/booking.css">

<main>
    <section>
        <div class="position-center-flex">
            <div class="modal-booking">
                <p>00:00 -> 08:00</p>
                <p>300.000VND - Limousine</p>
                <p>Bến xe miền Đông</p>
                <p>8 Tiếng</p>
                <p>Bến xe Đà Lạt</p>
                <div class="bus-position">
                    <div class="left-bus-position" id="left-bus-position">
                        <h3>Tầng Trên</h3>
                        <div class="row">
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A01
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">

                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A02
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A03
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos disablePos">
                                    A04
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A05
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A06
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos bookPos">
                                    A07
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos disablePos">
                                    A08
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A09
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A10
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A11
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A12
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A13
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A14
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A15
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A16
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    A17
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right-bus-position" id="right-bus-position">
                        <h3>Tầng Dưới</h3>
                        <div class="row">
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B01
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">

                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B02
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B03
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos disablePos">
                                    B04
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B05
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B06
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos bookPos">
                                    B07
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos disablePos">
                                    B08
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B09
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B10
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B11
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B12
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B13
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B14
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B15
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B16
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 col-4">
                                <div class="pos">
                                    B17
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="center-flex is-margin-small is-hide-pc">
                    <button class="change-btn displayNone" id="pos-up" onclick="changePos()">Tầng Trên</button>
                    <button class="change-btn" id="pos-down" onclick="changePos()">Tầng Dưới</button>
                </div>
                <h3 class="is-text-center infor-customer">THÔNG TIN HÀNH KHÁCH</h3>
                <p class="is-margin-bottom-0">Họ và tên</p>
                <div class="text-box">
                    <input type="text" name="name" placeholder="Họ tên khách hàng">
                </div>
                <p class="is-margin-bottom-0">Số điện thoại</p>
                <div class="text-box">
                    <input type="text" name="phone" placeholder="Số điện thoại">
                </div>
                <p>Ghế đã chọn: A07</p>
                <h3 class="is-text-center infor-customer">THANH TOÁN</h3>
                <p class="is-margin-bottom-0">Mã giảm giá</p>
                <div class="text-box">
                    <input type="text" name="promotion" placeholder="Áp dụng mã giảm giá">
                </div>
                <h3>Thành tiền: 300.000đ</h3>
                <a href="/history"><button class="btn-checkout">Đặt vé</button></a>

            </div>
        </div>
    </section>


</main>


<script>
    var check = 1;
    document.querySelector(".closeButton").addEventListener("click", close);
    function close() {
        document.getElementById("noti").className = "popup-hidden";
        document.getElementById("status").innerText = "";
    }
    function book() {
        document.getElementById("noti").className = "popup";
        if (check % 2 == 1)
            document.getElementById("status").innerText = "Đặt vé thành công";
        else
            document.getElementById("status").innerText = "Đặt vé thất bại";
        check++;

    }
</script>
<script type="text/javascript">
    function changePos() {
        var upPos = document.getElementById("pos-up");
        var downPos = document.getElementById("pos-down");
        var leftBus = document.getElementById("left-bus-position");
        var rightBus = document.getElementById("right-bus-position");
        upPos.classList.toggle("displayNone");
        downPos.classList.toggle("displayNone");
        rightBus.classList.toggle("displayBlock");
        leftBus.classList.toggle("displayNone");
    }

</script>