<main>
    <section>
    </section>
    <section>
        <div class="container wow bounceInLeft">
            <h2>Tuyến đường phổ biến</h2>
        </div>
        <div class="background-blue ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInUp">
                        <div class="row is-margin-rl-20">
                            <div class=" col-6 is-no-padding">
                                <img src="./img/box-img.png" style="width: 100%; height: 100%">
                            </div>
                            <div class="col-6 background-box">
                                <h3>Sài gòn - Đà Lạt</h3>
                                <p>Chỉ từ 130.000đ</p>
                                <a href="/ticket_list">
                                    <button class="btn-more">Chi tiết <i class="icofont-arrow-right"></i></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInUp" style="animation-delay: 0.2s;">
                        <div class="row is-margin-rl-20">
                            <div class=" col-6 is-no-padding">
                                <img src="./img/box-img.png" style="width: 100%; height: 100%">
                            </div>
                            <div class="col-6 background-box">
                                <h3>Sài gòn - Đà Lạt</h3>
                                <p>Chỉ từ 130.000đ</p>
                                <a href="/ticket_list">
                                    <button class="btn-more">Chi tiết <i class="icofont-arrow-right"></i></button></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInUp" style="animation-delay: 0.4s;">
                        <div class="row is-margin-rl-20">
                            <div class=" col-6 is-no-padding">
                                <img src="./img/box-img.png" style="width: 100%; height: 100%">
                            </div>
                            <div class="col-6 background-box">
                                <h3>Sài gòn - Đà Lạt</h3>
                                <p>Chỉ từ 130.000đ</p>
                                <a href="/ticket_list">
                                    <button class="btn-more">Chi tiết <i class="icofont-arrow-right"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInUp" style="animation-delay: 0.6s;">
                        <div class="row is-margin-rl-20">
                            <div class=" col-6 is-no-padding">
                                <img src="./img/box-img.png" style="width: 100%; height: 100%">
                            </div>
                            <div class="col-6 background-box">
                                <h3>Sài gòn - Đà Lạt</h3>
                                <p>Chỉ từ 130.000đ</p>
                                <a href="/ticket_list"><button class="btn-more">Chi tiết <i
                                            class="icofont-arrow-right"></i></button></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Ưu đãi nổi bật</h2>
            <div class="row">
                <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInLeft">
                    <div class="row is-margin-rl-20">
                        <div class="col-6 is-no-padding">
                            <img src="./img/image-7.png" style="width: 100%; height: 100%">
                        </div>
                        <div class="col-6 background-box">
                            <p>Ưu đãi các tuyến đường HOT lên đến 50%</p>
                            <a href="/promotion"> <button class="btn-more">Nhận ngay</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 col-12 col mr-bot wow bounceInRight">
                    <div class="row is-margin-rl-20">
                        <div class="col-6 is-no-padding">
                            <img src="./img/image-7.png" style="width: 100%; height: 100%">
                        </div>
                        <div class="col-6 background-box">
                            <p>Ưu đãi các tuyến đường HOT lên đến 50%</p>
                            <a href="/promotion"> <button class="btn-more">Nhận ngay</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Tin Tức</h2>
            <div class="image-slider">
                <div class="image-item">
                    <a href="/news_details">
                        <div class="image">
                            <img src="./img/Rectangle-1.png" alt="" class="img-click" />
                        </div>
                        <div class="infor-blog">
                            <h4 class="image-title">Nhạc hội Alam Sutera</h4>
                            <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                            <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                        </div>
                    </a>
                </div>
                <div class="image-item">
                    <a href="/news_details">
                        <div class="image">
                            <img src="./img/Rectangle-2.png" alt="" class="img-click" />
                        </div>
                        <div class="infor-blog">
                            <h4 class="image-title">Cập nhật thông tin vé xe Tết</h4>
                            <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                            <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                        </div>
                    </a>
                </div>
                <div class="image-item">
                    <a href="/news_details">
                        <div class="image">
                            <img src="./img/Rectangle-3.png" alt="" class="img-click" />
                        </div>
                        <div class="infor-blog">
                            <h4 class="image-title">Triển lãm Picasso: Siêu thực</h4>
                            <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                            <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                        </div>
                    </a>
                </div>
                <div class="image-item">
                    <a href="/news_details">
                        <div class="image">
                            <img src="./img/Rectangle-4.png" alt="" class="img-click" />
                        </div>
                        <div class="infor-blog">
                            <h4 class="image-title">Nạn cò mồi và cách để đặt vé</h4>
                            <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                            <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                        </div>
                    </a>
                </div>
                <div class="image-item">
                    <a href="/news_details">
                        <div class="image">
                            <img src="./img/Rectangle-3.png" alt="" class="img-click" />
                        </div>
                        <div class="infor-blog">
                            <h4 class="image-title">Nạn cò mồi và cách để đặt vé</h4>
                            <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                            <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </section>
</main>