
    <link rel="stylesheet" type="text/css" href="../css/news_details.css">

    <!-- link fontawsome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/040bc95231.js"
            crossorigin="anonymous"></script>
            

    <br>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-1 text-end">
                <p class="type-bus ">Share</p>
                <div class="icon fa-solid fa-link"></div>
                <div class="icon fa-brands fa-instagram"></div>
                <div class="icon fa-brands fa-twitter"></div>
                <div class="icon fa-brands fa-facebook"></div>
            </div>

            <div class="col-sm-10 ">
                <img class="img-responsive" src="../img/event.jpg" width="100%"  alt="Chania">
            </div>
        </div>
        <br>

        <div class="row justify-content-left">
            <div class="col-sm-8">
                <br>
                <h2 class="news-title bold">Lễ hội Điện ảnh và Âm nhạc: Back to the Future</h2>
                <i class="fa-solid fa-location-dot"></i>
                <span class="news-location bold"> Trung Tâm XXX</span>
                <span class="news-location bold">@ Khánh Hòa</span>
                <div class="date">
                    <i class="fa-solid fa-calendar-days"></i>
                    20/12/2022 · 20.00 - 23.59 GMT+7
                </div>
                <div class="brief">
                    Bữa tiệc giải trí hiện đại sôi động cạnh bờ biển đang thu hút sự chú ý của mọi người. Hãy đến với Nha Trang để cùng trải nghiệm âm nhạc của tương lai hòa cùng không khí thành phố biển dịp Giáng Sinh này.
                </div>
            </div>

            <div class="col-sm-4 ">
                <br>
                <div class="box ticketBox">
                    <p class="name bold">Vé xe Khánh Hòa</p>
                    <p class="price">~300.000đ</p>
                    <button type="button" class="btn btn-primary bold font20">
                        Tìm hiểu thêm
                    </button>
                </div>
            </div>

        </div>
        <h3 class="header bold "> Thông tin sự kiện </h3>
        <div class="row justify-content-space-between">
            
            <div class="col-sm-3 offset-sm-1 clearfix">
                <div class="info-box">
                    <span class="big-icon fa-regular fa-clock"></span>
                    <div class="news-brief bold"> Thời gian</div>
                    <div class="news-brief"> 20/12/22 </div>
                </div>
            </div>
            <div class="col-sm-3 offset-sm-1 clearfix">
                <div class="info-box">
                    <span class="big-icon  fa-solid fa-person"></span>
                    <div class="news-brief bold">Khán giả </div>
                    <div class="news-brief"> 12+trở lên</div>
                </div>
            </div>
            <div class="col-sm-3 offset-sm-1 clearfix">
                <div class="info-box">
                    <span class="big-icon  fa-solid fa-triangle-exclamation"></span>
                    <div class="news-brief bold">Lưu ý</div>
                    <div class="news-brief"> Tuân thủ 5K</div>
                </div>
            </div>
        </div>
        <h3 class="header bold "> Chi tiết sự kiện </h3>
        <div class="brief">
            Bữa tiệc giải trí hiện đại sôi động cạnh bờ biển đang thu hút sự chú ý của mọi người. Hãy đến với Nha Trang để cùng trải nghiệm âm nhạc của tương lai hòa cùng không khí thành phố biển dịp Giáng Sinh này.
        </div>
        <br>
    </div>

    <section >
        <div class="container">
          <h2>Tin tức khác</h2>
          <div class="image-slider">

             <div class="image-item">
              <a href="/news_details">
                <div class="image">
                   <img src="../img/Rectangle-1.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Nhạc hội Alam Sutera</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
              </a>
             </div>
             <div class="image-item">
              <a href="/news_details">
                <div class="image">
                   <img src="../img/Rectangle-2.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Cập nhật thông tin vé xe Tết</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
              </a>
             </div>
             <div class="image-item">
              <a href="/news_details">
                <div class="image">
                   <img src="../img/Rectangle-3.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Triển lãm Picasso: Siêu thực</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
              </a>
             </div>
             <div class="image-item">
              <a href="/news_details">
                <div class="image">
                   <img src="../img/Rectangle-4.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Nạn cò mồi và cách để đặt vé</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
              </a>
             </div>
             <div class="image-item">
                <div class="image">
                   <img src="../img/Rectangle-3.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Nạn cò mồi và cách để đặt vé</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
             </div>
          </div>
        </div>  
    </section>