
    <link rel="stylesheet" type="text/css" href="../css/partner_info.css">

    <!-- link fontawsome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/040bc95231.js"
            crossorigin="anonymous"></script>
    
    
    <br>
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-sm-1 text-end">
                <p class="type-bus ">Share</p>
                <div class="icon fa-solid fa-link"></div>
                <div class="icon fa-brands fa-instagram"></div>
                <div class="icon fa-brands fa-twitter"></div>
                <div class="icon fa-brands fa-facebook"></div>
            </div>

            <div class="col-sm-10">
                <img class="img-responsive " src="../img/busVexe.png" width="100%" alt="VEXE">
            </div>
        </div>
        <br>

        <div class="row justify-content-left">
            <div class="col-sm-12">
                <br>
                <h2 class="news-title bold">Thông tin nhà xe</h2>
                <h2 class="news-title bold">PHƯƠNG TRANG - "Chất lượng là danh dự"</h2>
                <i class="fa-solid fa-location-dot"></i>
                <span class="news-location bold"> Takashimaya</span>
                <span class="news-location bold">@ TP. Hồ Chí Minh</span>
                <div class="date">
                    <i class="fa-solid fa-calendar-days"></i>
                    20/12/2022 
                </div>
                <div class="brief">
                    Thành lập 10/2022, V.exe với mục tiêu mang đến nhứng chuyến xe an toàn cho mọi người đi đến mọi nơi, mọi miền tổ quốc.
V.exe tự hào là đơn vị đi đầu trong sự nghiệp cách mạng ngành xe khách và du lịch Việt Nam bao gồm các giải pháp: đặt vé & phương tiện thông minh cho hành khách, phần mềm quản lý hiệu quả cho nhà xe (BMS - Bus Management System) và phần mềm hỗ trợ bán vé hiệu quả cho đại lý (AMS- Agent Management System).
                </div>
            </div>

        </div>
        <br>
        <h3 class="bold"> Thành tựu </h3>
        <div class="brief">
            Hiện tại, V.exe là hệ thống vé xe lớn nhất Việt Nam. Không chỉ mang đến cho người dùng đa dạng lựa chọn về hãng xe, dòng xe và giải pháp đặt vé nhanh chóng, tiện lợi, VeXeRe còn có rất nhiều ưu đãi hàng tháng, giúp khách hàng đặt được vé xe khách chất lượng cao với giá thấp nhất thị trường. 
            Hành khách có thể dễ dàng lựa chọn trước chỗ ngồi yêu thích, thanh toán vé trực tuyến, hoặc bằng tiền mặt tại các cửa hàng tiện lợi trên cả nước.
            Phần mềm quản lý hãng xe V.exe (BMS) đang được hơn 700 hãng xe cả nước tin dùng. Phần mềm hỗ trợ các nhà xe thay đổi hình thức quản lý thủ công để quản lý hiệu quả và tối ưu hóa doanh thu, giảm thiểu chi phí, và tăng doanh thu từ mạng lưới đại lý rộng lớn nhất cả nước.
            Đây là cuộc cách mạng trong việc công nghệ hóa ngành xe khách. Phần mềm hỗ trợ đại lý bán vé AMS có hơn 5.000 đại lý sử dụng, giúp tăng doanh thu bán vé của đại lý và giúp đại lý hỗ trợ chăm sóc khách tốt hơn.
        </div>
        <br>
        <br>
        <div class ="comment_divisor bold"> Nhận xét từ người đã trải nghiệm dịch vụ của <span class = "partner_name">Phương Trang</span> </div>
    </div>



    <section >
        <div class="container">
          <div class="image-slider">
             <div class="image-item ">
                <div class="infor-blog">
                    <div class="row justify-content-left">
                        <div class="col-lg-4">
                            <br>
                            <img class="img-responsive border_round" src="../img/ava.jfif" width="100%"  alt="Chania">
                        </div>
                        
                        <div class="col-lg-8">
                            <br>
                            <div class=" comment-info bold"> Đệ nhất Quốc Sư</div>
                            <div class=" comment-info ">Sài Gòn - Đà Lạt || 20/12/22 </div>
                        
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>    
                    </div>
                    <br>
                    <p class="data">Bữa tiệc giải trí hiện đại sôi động cạnh bờ biển đang thu hút sự chú ý của mọi người. 
                    Hãy đến với Nha Trang để cùng trải nghiệm âm nhạc của tương lai hòa cùng không khí thành phố biển dịp Giáng Sinh này.</p>
                </div>
             </div>
             <div class="image-item">
                <div class="infor-blog">
                    <div class="row justify-content-left">
                        <div class="col-lg-4">
                            <br>
                            <img class="img-responsive border_round" src="../img/ava.jfif" width="100%"  alt="Chania">
                        </div>
                        <div class="col-lg-8">
                            <br>
                            <div class=" comment-info bold"> Trần Dần</div>
                            <div class=" comment-info ">Sài Gòn - Đà Lạt || 20/12/22 </div>
                        
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>    
                    </div>
                    <br>
                    <p class="data">Bữa tiệc giải trí hiện đại sôi động cạnh bờ biển đang thu hút sự chú ý của mọi người. 
                    Hãy đến với Nha Trang để cùng trải nghiệm âm nhạc của tương lai hòa cùng không khí thành phố biển dịp Giáng Sinh này.</p>
                </div>
                
             </div>
             <div class="image-item">
                <div class="infor-blog">
                    <div class="row justify-content-left">
                        <div class="col-lg-4">
                            <br>
                            <img class="img-responsive border_round" src="../img/ava.jfif" width="100%"  alt="Chania">
                        </div>
                        <div class="col-lg-8">
                            <br>
                            <div class=" comment-info bold"> Tên</div>
                            <div class=" comment-info ">Sài Gòn - Đà Lạt || 20/12/22 </div>
                        
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>    
                    </div>
                    <br>
                    <p class="data">Bữa tiệc giải trí hiện đại sôi động cạnh bờ biển đang thu hút sự chú ý của mọi người. 
                    Hãy đến với Nha Trang để cùng trải nghiệm âm nhạc của tương lai hòa cùng không khí thành phố biển dịp Giáng Sinh này.</p>
                </div>
             </div>
             <div class="image-item">
                <div class="infor-blog">
                    <div class="row justify-content-left">
                        <div class="col-lg-4">
                            <br>
                            <img class="img-responsive border_round" src="../img/ava.jfif" width="100%"  alt="Chania">
                        </div>
                        <div class="col-lg-8">
                            <br>
                            <div class=" comment-info bold"> Tên</div>
                            <div class=" comment-info ">Sài Gòn - Đà Lạt || 20/12/22 </div>
                        
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>    
                    </div>
                    <br>
                    <p class="data">Bữa tiệc giải trí hiện đại sôi động cạnh bờ biển đang thu hút sự chú ý của mọi người. 
                    Hãy đến với Nha Trang để cùng trải nghiệm âm nhạc của tương lai hòa cùng không khí thành phố biển dịp Giáng Sinh này.</p>
                </div>
             </div>
             <div class="image-item">
                <div class="infor-blog">
                    <div class="row justify-content-left">
                        <div class="col-lg-4">
                            <br>
                            <img class="img-responsive border_round" src="../img/ava.jfif" width="100%"  alt="Chania">
                        </div>
                        <div class="col-lg-8">
                            <br>
                            <div class=" comment-info bold"> Tên</div>
                            <div class=" comment-info ">Sài Gòn - Đà Lạt || 20/12/22 </div>
                        
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>    
                    </div>
                    <br>
                    <p class="data">Bữa tiệc giải trí hiện đại sôi động cạnh bờ biển đang thu hút sự chú ý của mọi người. 
                    Hãy đến với Nha Trang để cùng trải nghiệm âm nhạc của tương lai hòa cùng không khí thành phố biển dịp Giáng Sinh này.</p>
                </div>
             </div>
          </div>
        </div>  
    </section>

    <section >
        <div class="container">
          <h2>Tin tức</h2>
          <div class="image-slider">

             <div class="image-item">
              <a href="/news_details">
                <div class="image">
                   <img src="../img/Rectangle-1.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Nhạc hội Alam Sutera</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
              </a>
             </div>
             <div class="image-item">
              <a href="/news_details">
                <div class="image">
                   <img src="../img/Rectangle-2.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Cập nhật thông tin vé xe Tết</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
              </a>
             </div>
             <div class="image-item">
              <a href="/news_details">
                <div class="image">
                   <img src="../img/Rectangle-3.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Triển lãm Picasso: Siêu thực</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
              </a>
             </div>
             <div class="image-item">
              <a href="/news_details">
                <div class="image">
                   <img src="../img/Rectangle-4.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Nạn cò mồi và cách để đặt vé</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
              </a>
             </div>
             <div class="image-item">
                <div class="image">
                   <img src="../img/Rectangle-3.png" alt="" class="img-click"/>
                </div>
                <div class="infor-blog">
                  <h4 class="image-title">Nạn cò mồi và cách để đặt vé</h4>
                  <p>Đặt vé Online đơn giản để tránh nguy cơ </p>
                  <p class="data"><i class="icofont-ui-calendar"></i> 30/10/2022</p>
                </div>
             </div>
          </div>
        </div>  
    </section>