
      <link rel="stylesheet" href="../css/ticket_list.css" />
      <main>
         <div class="container ">
            <div class="row">
               <!-- BỘ LỌC NÂNG CAO SECTION -->
               <div class="filter__advance col-md-3 col-sm-12 col-12">
                  <p class="filter__section__header">Bộ lọc nâng cao</p>
                  <div class="position__container">
                     <input
                        id="dropdown_position"
                        type="checkbox"
                        class="dropdownCheckbox"
                        style="display: none"
                        />
                     <label for="dropdown_position" class="isfont18">
                     Vị trí ghế
                     <i class="icofont-rounded-down"></i>
                     <i class="icofont-rounded-up"></i>
                     </label>
                     <div class="position">
                        <label class="radio__item">
                        <input type="radio" name="radio_position" />
                        <span class="filter__radio"></span>
                        <span>Hàng đầu</span>
                        </label>
                        <label class="radio__item">
                        <input type="radio" name="radio_position" />
                        <span class="filter__radio"></span>
                        <span>Hàng giữa</span>
                        </label>
                        <label class="radio__item">
                        <input type="radio" name="radio_position" />
                        <span class="filter__radio"></span>
                        <span>Hàng cuối</span>
                        </label>
                     </div>
                  </div>
                  <div class="homecar__container">
                     <input
                        id="dropdown_homecar"
                        type="checkbox"
                        class="dropdownCheckbox"
                        style="display: none"
                        />
                     <label for="dropdown_homecar" class="isfont18"
                        >Nhà xe
                     <i class="icofont-rounded-down"></i>
                     <i class="icofont-rounded-up"></i>
                     </label>
                     <div class="homecar">
                        <label class="radio__item">
                        <input type="radio" name="radio_homecar" />
                        <span class="filter__radio"></span>
                        <span>Phương Trang</span>
                        </label>
                        <label class="radio__item">
                        <input type="radio" name="radio_homecar" />
                        <span class="filter__radio"></span>
                        <span>Thành Bưởi</span>
                        </label>
                        <label class="radio__item">
                        <input type="radio" name="radio_homecar" />
                        <span class="filter__radio"></span>
                        <span>Lạc Hồng</span>
                        </label>
                     </div>
                  </div>
                  
                  <!-- PRICE SECTION -->
                  <div class="price__container">
                     <input
                        id="dropdown_price"
                        type="checkbox"
                        class="dropdownPrice"
                        style="display: none"
                        />
                     <label for="dropdown_price" class="isfont18"
                        >Giá
                     <i class="icofont-rounded-down"></i>
                     <i class="icofont-rounded-up"></i>
                     </label>
                     <div class="range-filter">
                        <div class="slider">
                           <div class="progress"></div>
                         </div>
                         <div class="range-input">
                           <input type="range" class="range-min" min="0" max="900000" value="200000" step="1000">
                           <input type="range" class="range-max" min="0" max="900000" value="700000" step="1000">
                         </div>
                        <div class="price-input">
                          <div class="field">
                            <span>Min</span>
                            <input type="number" class="input-min" value="200000">
                          </div>
                          <div class="separator"></div>
                          <div class="field">
                            <span>Max</span>
                            <input type="number" class="input-max" value="700000">
                          </div>
                        </div>
                      </div>
                  </div>
                  <!--  -->

               </div>
               <div class="ticket__container p-3 col-md-9 col-sm-12 col-12">
                  <div class="ticket__header row" style="background-color: #0c86cb">
                     <p class="col-sm-3">Khởi chạy</p>
                     <p class="col-sm-3">Thời gian hành trình</p>
                     <p class="col-sm-3">Loại xe</p>
                     <p class="col-sm-3">Giá vé</p>
                  </div>
                  <a href="/ticket_info">
                    <div class="row mt-2 mb-2 isboder_bottom">
                       <div class="col-sm-3 time_departure">
                          <div>
                             <img src="../img/brand_homecar/United Airlines.png" alt="" />
                          </div>
                          <div>
                             0:00 AM<br />
                             Phương Trang
                          </div>
                       </div>
                       <input type="checkbox" id="id_view" class="view_detail_checkbox"></input>
                       <label for="id_view" class="view_message ml-3 isPurple">
                       Chi tiết
                       <i class="icofont-rounded-down isPurple"></i>
                       </label>
                       <div class="col-sm-3">8 tiếng <br />Sài Gòn - Đà Lạt</div>
                       <p class="col-sm-3">Xe khách</p>
                       <p class="col-sm-3">300.000đ</p>
                    </div>
                   </a> 
                   <a href="/ticket_info">
                    <div class="row mt-2 mb-2 isboder_bottom">
                       <div class="col-sm-3 time_departure">
                          <div>
                             <img src="../img/brand_homecar/United Airlines.png" alt="" />
                          </div>
                          <div>
                             0:00 AM<br />
                             Phương Trang
                          </div>
                       </div>
                       <input type="checkbox" id="id_view2" class="view_detail_checkbox"></input>
                       <label for="id_view2" class="view_message ml-3  isPurple">
                       Chi tiết
                       <i class="icofont-rounded-down isPurple"></i>
                       </label>
                       <div class="col-sm-3">8 tiếng <br />Sài Gòn - Đà Lạt</div>
                       <p class="col-sm-3">Xe khách</p>
                       <p class="col-sm-3">300.000đ</p>
                    </div>
                  </a>
                  <a href="/ticket_info">
                    <div class="row mt-2 mb-2 isboder_bottom">
                       <div class="col-sm-3 time_departure">
                          <div>
                             <img src="../img/brand_homecar/Delta Airlines.png" alt="" />
                          </div>
                          <div>
                             0:00 AM<br />
                             Lạc Hồng
                          </div>
                       </div>
                       <input type="checkbox" id="id_view3" class="view_detail_checkbox"></input>
                       <label for="id_view3" class="view_message ml-3  isPurple">
                       Chi tiết
                       <i class="icofont-rounded-down isPurple"></i>
                       </label>
                       <div class="col-sm-3">9 tiếng <br />Sài Gòn - Đà Lạt</div>
                       <p class="col-sm-3">Xe khách</p>
                       <p class="col-sm-3">250.000đ</p>
                    </div>
                  </a>
                  <a href="/ticket_info">
                    <div class="row mt-2 mb-2 isboder_bottom">
                       <div class="col-sm-3 time_departure">
                          <div>
                             <img src="../img/brand_homecar/United Airlines.png" alt="" />
                          </div>
                          <div>
                             0:00 AM<br />
                             Phương Trang
                          </div>
                       </div>
                       <input type="checkbox" id="id_view4" class="view_detail_checkbox"></input>
                       <label for="id_view4" class="view_message ml-3  isPurple">
                       Chi tiết
                       <i class="icofont-rounded-down isPurple"></i>
                       </label>
                       <div class="col-sm-3">8 tiếng <br />Sài Gòn - Đà Lạt</div>
                       <p class="col-sm-3">Xe khách</p>
                       <p class="col-sm-3">300.000đ</p>
                    </div>
                  </a>
               </div>
            </div>
         </div>
      </main>