<link rel="stylesheet" type="text/css" href="../css/user_info.css">


<main>
  <section>
    <div class="acount--title">Thông tin cá nhân</div>
    <article>
      <div class="avatar">
        <img src="../img/ava.jfif" alt="">
      </div>
      <div class="info">
        <div class="info-head">Thông tin cá nhân:</div>

        <div class="flex-info">
          <div class="title-info">Họ và tên:</div>
          <div class="detail-info">
            <div class="leftt-info"><input type="text" id="name" name="name" value="Trần Dần"></div>
            <div class="right-info"> </div>
          </div>
        </div>

        <div class="flex-info">
          <div class="title-info">Email:</div>
          <div class="detail-info">
            <div class="leftt-info"><input type="text" id="name" name="name" value="denhatquocsu@gmail.com"></div>
            <div class="right-info"><img src="../img/addButton.png" alt=""> </div>
          </div>
        </div>

        <div class="flex-info">
          <div class="title-info">CMMD/CCCD:</div>
          <div class="detail-info">
            <div class="leftt-info"><input type="text" id="name" name="name" value="_"></div>
            <div class="right-info"><img src="../img/addButton.png" alt=""> </div>
          </div>
        </div>

        <div class="flex-info">
          <div class="title-info">Giới tính:</div>
          <div class="detail-info">
            <div class="leftt-info"><input type="text" id="name" name="name" value="_"></div>
            <div class="right-info"><img src="../img/addButton.png" alt=""> </div>
          </div>
        </div>


        <div class="flex-info">
          <div class="title-info">Địa chỉ:</div>
          <div class="detail-info">
            <div class="leftt-info"><input type="text" id="name" name="name" value="_"></div>
            <div class="right-info"><img src="../img/addButton.png" alt=""> </div>
          </div>
        </div>


        <div class="flex-info">
          <div class="title-info">Số điện thoại:</div>
          <div class="detail-info">
            <div class="leftt-info"><input type="text" id="name" name="name" value="0901 456 525"></div>
            <div class="right-info"><img src="../img/addButton.png" alt=""> </div>
          </div>
        </div>


      </div>
    </article>
    <aside>
      <button class="update">Cập nhật thông tin</button>
    </aside>

    <!-- <canvas data-v-393a465a="" class="editor-canvas__canvas" id="paper-view-0" style="-webkit-user-drag: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); width: 256px; height: 256px;" width="320" height="320"></canvas> -->
    <!-- <img src="https://img.icons8.com/fluency/48/000000/plus-2-math.png"/> -->
    <!-- <a target="_blank" href="https://icons8.com/icon/yFAVSbDZOJll/add-new"></a> -->
  </section>

</main>


<script>
  function changeChoice(e) {
    console.log(e.target);
    choices.forEach((c) => {
      c.className = "grid-choice-item";
      // console.log(c);
    })
    e.target.className = "grid-choice-item-active";
    // console.log(e.target.parentNode);

  }
  var choices = document.querySelectorAll(".grid-choice button");
  choices.forEach(choice => choice.addEventListener("click", changeChoice));
</script>